.movies{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movies-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .movies-backlink{
        margin: 1em;
        font-size: 1em;
        font-family: $font-family;
    }
    .movies-header{
        margin: 1em;
        font-size: 40px;
    }
    .movies-intro{
        margin-top: 1em;
        font-size: 2em;
        width: 300px;
    }
    
    p{
        max-width: 300px;
        height: auto;
        margin: 1em;
    }
    p, strong{
        font-size: 25px;
    }
}
.movies-image{
    width: 300px;
    height: auto;
    
}
.movies-header{
    margin-top: 1em;
    font-size: 2.5rem;
    font-family: $font-family;
    color: black;
}
.movies-list{
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2em;
    list-style: none;

}
.movies-anchor{
    width: 100px;
    color: $blue-color;
    font-size: 20px;
    font-family: $font-family;
}

.movies-container{
    min-height: 50vh;
}
