
<div class="movies-container">
    <a class="movies-backlink" href="/">Back to list</a>
    <h2 class="movies-header"><%= movie.title %></h2>
    <img class="movies-image" src="<%= movie.image.url %> " alt="The poster of <%= movie.title %>">
    <%- movieIntro %>
</div>